body {
    padding-top: 50px;
}

div.navbar a {
    color: #EBC00C !important;
}

footer {
    background-color:  #EBC00C;
    margin-top: 50px;
    font-size: 90%;
    padding: 20px 0px 200px 0px;
}

footer a {
    color: dimgray;
}

footer a:hover {
    text-decoration: none;
}

thead th { 
    font-weight: normal !important;
}